*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.menu {
  z-index: 10000;
  background: #fff;
  position: absolute;
  right: 0;
  height: 100vh;
  display: flex;
  width: 22vw;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  flex-direction: column;
  transform: translateX(100%);
  transition: .7s;
}

.mostrar{
  transform: translateX(0);
  transition: .7s;
}

.icono-menu {
  position: absolute;
  left: -40px;
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  transition: 0.5s;
}

.icono-menu:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.contenedor-titulo h2 {
  float: right;
}

.obelisco-img {
  width: 20px;
}
  
.img-ico {
  width: 20px;
}

label {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

p.p-cantidad {
  margin-bottom: 0px;
  position: relative;
  top: -19px;
}